<?xml version="1.0"?>
<!-- SAMPLE WEB CONFIG FOR IIS 8.5 HOSTING -->
<configuration>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="PYTHONPATH" value="E:\movie-friday" />

        <add key="WSGI_HANDLER" value="app.app"/>
    <!-- Optional settings -->
    <add key="WSGI_LOG" value="E:\movie-friday\Logs\my_app.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
    <add key="FLASK_APP" value="moviefriday" />
    <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
    <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />

  </appSettings>

</configuration>