{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ movie.title }}{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="#">Special for {{ g.user.username }}</a>
    {% endif %}
{% endblock %}

{% block content %}

    {% if movie.is_mp4 %}
        <video width="320" height="240" controls>
            <source src="{{ url_for("watch.mp4_video",movie_id= movie.id) }}" type="video/mp4">
        </video>
    {% else %}
        <b>Will be loading m3u8 file here</b>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <video id="video" controls requestFullScreen></video>
        <script>
            var video = document.getElementById('video');
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.attachMedia(video);
                hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    console.log("video and hls.js are now bound together !");

                    hls.loadSource('{{ url_for("watch.hsl_video",movie_id=movie.id) }}');
                    hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                        console.log("manifest loaded, found " + data.levels.length + " quality level");

                        hls.startLoad(startPosition=0)
                        video.play();
                    });
                });

                hls.on(Hls.Events.ERROR, function (event, data) {
                    console.log(data)
                });

            }
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = '{{ url_for("watch.hsl_video",movie_id=movie.id) }}';
                video.addEventListener('canplay', function () {
                    video.play();
                });
            }
        </script>

    {% endif %}
{% endblock %}